@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

* {
    margin:0;
    padding:0;
    border:0;
}
body {
   font-family:Lato;  
   color:#777777;
}

h2{
    font-family:Oswald;
    text-transform:uppercase;
    color:#555555;
    letter-spacing: 4px;
    font-size:280%;
}
header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    
    


}
#nav>li:hover, .active {
    border-bottom: 1px solid #777777;
}
#nav {
    
    display: flex;
    gap: 30px;
    font-size:110%;
    letter-spacing:4px;
    
}

#nav > li {
    list-style: none;
    
}
header a {
    text-decoration: none;
    color: inherit;
}
#hero {
height:600px;
width:100%;
background:url("../img/main-image.png") no-repeat center center;

animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
/*display:flex;
justify-content: flex-end;*/




}
/*#my image does not go in the header so I don't need this, no I actially need this because it does overlfow with animation */
#hero-section {
    height:600px;
    width:100%;
    overflow:hidden;
    position:relative;

}

@keyframes hero-zoom {
    from
    {transform: scale(1)
    }
    to {transform: scale(1.1)}
}
#cover, #cover > h2 {
    color:#ffffff;
}
/* my browser may have a default style that does not let it be 130%, therefore specified in the part below */
#cover > h3 {
    font-size:130%;
}
  
#cover {
    /*align-self:flex-end;
    flex:0 3 100%;*/
    background-color: rgba(241, 109, 107, 0.7);
    
    
    font-family:Oswald;
    text-transform:uppercase;
    letter-spacing:4px;

    height:200px;
    width:300px;

    padding-top:40px;
    padding-left:10px;

    bottom:30px;
    right:150px;

   /* display:flex;
    flex-flow:column wrap;
*/
    position:absolute;
  
}
#welcome {
    text-align:center;
    margin:20px 0;
}
/* this is the cause of this section overlapping down to the below section

#ethos{
    height:600px;
}*/

#ethos-parent {
    display:flex;
    justify-content:space-evenly;
    gap:20px;
    align-items:center;
    flex-wrap:wrap;
}

#left-about{
    flex-basis:30%;
    display:flex;
    flex-flow:column;
    align-items:flex-end;
}

#center-about {
    align-self:center;
    flex-basis:30%;
    display:flex;
    justify-content: center;
}

#right-about {
    flex-basis:30%;
}

.left-about-heading, .right-about-heading {
    width:50%;
    display:flex;
    flex-flow: column nowrap;
    margin-bottom: 50px;
   
    
}

.left-about-heading > p, .right-about-heading > p { 
    line-height: 20px;
}

.right-about-heading > p, .right-about-heading > h2 {
    text-align:right;
    
}
hr {
    border-top: 1px solid #777777;
    width:100%;
    margin: 5px 0;
}

#circle {
    width:300px;
    height:300px;
    padding:30px;
    border-style:solid;
    border-color:#cccccc;
    border-width:1px;
    border-radius:50%;
}

#circle-cover-bg{
    background:url("../img/run-image.png") no-repeat center center;
    height:100%;
    border-radius:50%;

}

#times {
    background:url("../img/dublin-city.png") no-repeat;
    background-position: center;
    background-size:cover;
    height:300px;
    width:100%;
    /*overflow:hidden;*/
    color:#fafafa;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:0px;
    flex-wrap: wrap;

}
#times > div > h2, #times > div > h2 > i{
    color:#fafafa;
}
#times > div {
    background-color:  rgba(0, 0, 0, 0.6);
    flex-basis:19.5%;
    height:90%;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    padding-top: 30px;
    /*gap:1px;*/

}
footer {
    height:150px;
}
#footer {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:6%;
    
}
footer i {
    font-size:160%;
    color:#777777;
}

#photos {
    line-height:0px;
    column-count:3;
    column-gap: 0px;
}
#photos > img{
    width:100%;
}

@media screen and (max-width:975px ) {
    #left-about, #right-about{
    flex-basis:48%;
    align-self:flex-start;  
    }
    hr{
        display:none;
    }
    #center-about{
        order:2;
    }
    #times{
        margin-top:5%;
        height:100%;
        gap:2px;
    }
    #times > div {
        flex:2 1 40%;/*set this to 50% and they will all be under each other*/
        padding-top:0;
        height:100%;
    }
}

@media screen and (max-width:693px ) {
    #left-about, #right-about{
        flex-basis:100%;
        align-items:center;
        align-self:flex-start;  
        }

        #right-about{
            display: flex;
            align-items:center;
            flex-flow:column nowrap;
        }
        .left-about-heading, .right-about-heading{
            width:90%;
            text-align:center;
        }
        .right-about-heading > p, .right-about-heading > h2{
            text-align: center;
        }
}

@media screen and (max-width:554px){
    header {
        flex-wrap:wrap;
        justify-content:center;
        padding-bottom:20px;
        position:fixed;
        z-index:99;
        background-color:#ffffff;
        box-shadow: 0 2px 2px #777777;
        width:100%;
    }
    #hero-section{
        padding-top:110px;
    }

    /*Testing to create toggle menu
    nav {
        position:absolute;
        padding: 0 1rem;*/
    
    
    #times > div {
        flex:2 1 50%;/*set this to 50% and they will all be under each other*/
        padding-top:0;
        height:100%;
    }
}
@media screen and (max-width:469px ) {
    #cover {
        left:0;
    }
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
    
}

main {
    display: flex;
    flex-flow: column;
    padding-top:107px;
}
#signup {
    background-image:url("../img/signup-image.webp");
    background-position: 75%;
    background-size: cover;
    flex-grow:1;
    flex-basis:100%;
    display:flex;
    

}
#signup-form{
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    flex-basis:75%;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:12.5%;
    padding: 10%;
    

}
#signup-form h2{
    color:#ffffff;
}

.text-input {
    background:transparent;
    color:#ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
    width:100%;
    height:2em;
    margin-bottom: 5%;
}

.radio-buttons {
    display:flex;
    justify-content: space-between;
    width:100%;
}
label{
    font-size:160%;
    font-weight: 110%;
}

.join-button{
    font-size:160%;
    padding:15px 32px;
    background-color:#454b1b;
    color:#ffffff;
    border-radius:2px;
    margin-top:20px;
    border: 1px outset #555555;
}

@media screen and (min-width:768px) {
    body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

    main{
        flex: 1 0 auto;
        padding-top:0;
        margin-top: 47px;
    }
    #signup{
        position:relative;
    }
   
    #signup-form{
        max-width:400px;
        position:absolute;
        left:100px;
        top:150px;
        padding:50px;
        margin:0;

    }
    
    .join-button:hover{
        background-color: #ffffff;
        color:#454b1b;

    }
    .text-input:hover{
    border-color:#f16c6b;
    }
}