@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

* {
    margin:0;
    padding:0;
    border:0;
}
body {
   font-family:Lato;  
   color:#777777;
}

h2{
    font-family:Oswald;
    text-decoration:uppercase;
    color:#555555;
    letter-spacing: 4px;
}
header {
    display:flex;
}

#logo {
    justify-content: flex-start;

}